# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: LibreChat
slug: librechat
version: "0.8.0-rc2"
description: Open-source AI chat platform integrating multiple models and services.
url: "https://github.com/bobbyquantum/addon-librechat/tree/main/librechat"
arch:
  - amd64
  - aarch64
init: false
map:
  - share:rw
  - addon_config:rw
ports:
  3080/tcp: 3080
image: "ghcr.io/bobbyquantum/{arch}-addon-librechat-canary"
privileged: ["NET_RAW"]
codenotary: "bobby@quantum.observer"
